{:deps true ;; deps come from deps.edn
 :nrepl
 {:port 9991}

 :build-defaults
 {:output-dir      "resources/public/cljs"
  :asset-path      "/cljs"
  :release-version "min"
  :devtools        {:ignore-warnings true
                    :hud #{:errors :progress}}}
 :builds
 {:app {:target :browser
        :modules {:app {:init-fn clj-and-cljs-app.app/init}}
        :devtools {:watch-dir "resources/public"}}}}
